global
    daemon
    log stdout local0
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend agrisight_frontend
    bind *:80
    default_backend nginx_servers

backend nginx_servers
    balance roundrobin
    option httpchk GET /health/
    server nginx1 nginx:80 check

# Statistics page
listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE

